workflow-recRNHWjxYjGHu7gJ.json
{"name":"[n8n] USDT And TRC20 Wallet Tracker API Workflow for n8n","nodes":[{"parameters":{"fieldToSplitOut":"token_transfers","options":{"destinationFieldName":"Transfers"}},"name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1300,460],"notesInFlow":true,"notes":"Format response"},{"parameters":{"fields":{"values":[{"name":"Your Wallet Address","stringValue":"TUucEyQ8SVPAP4yw8BHPQ9BE44USyuUQ5Y"},{"name":"Number of transactions to retrieve per request","type":"numberValue","numberValue":"20"}]},"options":{}},"name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1020,460],"notesInFlow":true,"notes":"Wallet Config"},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.Transfers.block_ts }}","operation":"smallerEqual","value2":"={{ Date.now() - 900000 }}"}],"string":[{"value1":"={{ $json.Transfers.to_address }}","operation":"regex","value2":"={{ $('Edit Fields').item.json['Your Wallet Address'] }}"}]}},"name":"Filter","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1440,460],"notesInFlow":true,"notes":"Received in last 15m only"},{"parameters":{"content":"## USDT TRC20 Wallet Tracker\n**This workflow** Is a basic concept of integrating your TRC20 wallet with N8N Nodes.\n‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌  ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌‌ ‌ ‌ ‌ ![Logo](https://static.tronscan.org/production/logo/usdtlogo.png) \n\n","height":340,"width":1092.8799999999992},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[833,277]},{"parameters":{"url":"https://apilist.tronscanapi.com/api/filter/trc20/transfers","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"={{ $json['Number of transactions to retrieve'] | '20' }}"},{"name":"start","value":"0"},{"name":"sort","value":"-timestamp"},{"name":"count","value":"true"},{"name":"filterTokenValue","value":"0"},{"name":"relatedAddress","value":"={{ $json['Your Wallet Address']}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:122.0) Gecko/20100101 Firefox/122.0"},{"name":"Accept","value":"application/json, text/plain, */*"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Accept-Encoding","value":"gzip, deflate, br"},{"name":"Origin","value":"https://tronscan.org"},{"name":"DNT","value":"1"},{"name":"Connection","value":"keep-alive"},{"name":"Referer","value":"https://tronscan.org/"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"cross-site"},{"name":"Sec-GPC","value":"1"},{"name":"Pragma","value":"no-cache"},{"name":"Cache-Control","value":"no-cache"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":10000}},"name":"TronScan API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,460],"notesInFlow":true,"notes":"Request Wallet Status"},{"parameters":{"fields":{"values":[{"name":"Coin","stringValue":"={{ $json.Transfers.tokenInfo.tokenName }} ({{ $json.Transfers.tokenInfo.tokenAbbr }})"},{"name":"Network","stringValue":"={{ $json.Transfers.tokenInfo.tokenType }}"},{"name":"From Address","stringValue":"={{ $json.Transfers.from_address.replace($('Edit Fields').item.json['Your Wallet Address'],\"Your Wallet Address\") || $json.Transfers.from_address_tag.from_address_tag }}"},{"name":"To Address","stringValue":"={{ $json.Transfers.to_address.replace($('Edit Fields').item.json['Your Wallet Address'],\"Your Wallet Address\") }}"},{"name":"Amount","stringValue":"={{ ($('Filter').item.json[\"Transfers\"][\"tokenInfo\"][\"tokenAbbr\"]+' ' + (($json.Transfers.trigger_info.parameter._value || $json.Transfers.quant) / Math.pow(10, $json.Transfers.tokenInfo.tokenDecimal)).toFixed(2)).replace('USDT ','\\) }}"},{"name":"Record Type","stringValue":"={{ $json.Transfers.event_type }}"},{"name":"Record Status","stringValue":"={{ ($json.Transfers.confirmed+'').replace('true','Confirmed').replace('false','Not confirmed yet.') }}"},{"name":"Transaction Result","stringValue":"={{ $json.Transfers.finalResult.replace('SUCCESS','Received') }}"},{"name":"Record URL","stringValue":"=https://tronscan.org/#/transaction/{{ $json.Transfers.transaction_id }}"}]},"include":"none","options":{}},"name":"Final Results","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[1600,460],"notesInFlow":true,"notes":"Keep only required fields"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[880,460],"notesInFlow":true,"notes":"Run Every 15 minutes"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"Transactions","options":{}},"name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1780,460],"alwaysOutputData":false,"notesInFlow":true,"notes":"Combine records into one list"}],"connections":{"Edit Fields":{"main":[[{"node":"TronScan API","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"TronScan API":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Final Results","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Final Results":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"active":"false","settings":{"executionOrder":"v1","timezone":"Europe/Berlin","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"errorWorkflow":""},"staticData":"","pinData":{},"meta":{"templateCredsSetupCompleted":false},"tags":[{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"VHJvbnNjYW5hcGk","name":"Tronscanapi"},{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"U3BsaXRPdXQ","name":"SplitOut"},{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"RmlsdGVy","name":"Filter"},{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"SHR0cFJlcXVlc3Q","name":"HttpRequest"},{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"U2NoZWR1bGVUcmlnZ2Vy","name":"ScheduleTrigger"},{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"QWdncmVnYXRl","name":"Aggregate"},{"createdAt":"2024-04-09T15:25:58.186Z","updatedAt":"2024-04-09T15:25:58.186Z","id":"dGVtcGxhdGVz","name":"templates"}]}